@charset "UTF-8";

*{
  
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;

}


body{
    
  background-image: url(pacote-d013/pacote-d013/imagens/fundo-madeira.jpg);
  background-position: center right ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    

}

main{
    position: relative;
    height: 100vh;
    
    
}


section#tel{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url(pacote-d013/pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;

    
}

iframe#tell{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 267px;
}


section#rede{

    text-align: right;
}

img.log{
    
    margin-bottom: 30px;
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.512);
    box-sizing: border-box;
    
   
    

}

img.log:hover{

    border: 2px solid rgba(255, 255, 255, 0.56);
    transform:translate(-3px -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.605);
    transition: 0.3s, border 0s;
}





